name: ci
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  # Required: allow read access to the content for analysis.
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read
  checks: write

jobs:
  validate-go-mod-tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod

      - name: Verify go.mod and go.sum are tidy
        run: |
          if ! go mod tidy -diff; then
            echo "::error:: go.mod or go.sum is not tidy. Please run 'go mod tidy' and commit the changes."
            exit 1
          fi

  go-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # Docker is setup for integration tests
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod

      - name: Run Tests and Generate Coverage Report
        run: |
          go test -coverprofile=coverage.out ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: coverage.out

      - name: Ensure Coverage Does Not Drop
        run: |
          go install github.com/ory/go-acc@latest
          go tool cover -func=coverage.out | grep total | awk '{print $3}' > coverage.txt
          current_coverage=$(cat coverage.txt)
          echo "Current coverage: $current_coverage"
          if (( $(echo "$current_coverage < $MINIMUM_COVERAGE" | bc -l) )); then
            echo "::error:: Test coverage has dropped below the minimum threshold."
            exit 1
          fi
        env:
          MINIMUM_COVERAGE: 6.7 # Set your minimum coverage threshold here
