name: Publish Kubeit Release
on:
  push:
    tags:
      - "v*"

jobs:
  goreleaser:
    permissions:
      contents: write
    if: github.repository == 'komailo/kubeit'
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Fetch all tags
        run: git fetch --force --tags

      - name: Setup Golang
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version: 1.24.6

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        id: run-goreleaser
        with:
          version: latest
          args: release --clean --timeout 10m
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

